<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas</title>
</head>
<body>
    <h1>Gerenciamento de Áreas</h1>
    <p><a href="{% url 'area_cadastro' %}">Cadastrar</a></p>

    <p>Lista de Área</p>
    {% for area in lista_areas %}
    <p>{{ area.nome }}</p>
    {% empty%}
    <p>Nenhuma área cadastrada</p>

    {% endfor %}
    

    <p><a href="{% url 'index' %}">Voltar</a></p>
    

    
</body>
</html>